pipeline/ADFSalesforceEmailTemplatePipeline.json
{
	"name": "ADFSalesforceEmailTemplatePipeline",
	"properties": {
		"description": "Advisor Call History",
		"activities": [
			{
				"name": "Get Posting Group Detail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:15:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[pg].[usp_GetPostingGroupChild]",
						"storedProcedureParameters": {
							"pChildPostingGroupCode": {
								"type": "String",
								"value": {
									"value": "@variables('PostingGroupChildCode')",
									"type": "Expression"
								}
							},
							"pETLExecutionId": {
								"type": "Int32",
								"value": "-1"
							},
							"pPathId": {
								"type": "Int32",
								"value": "-1"
							},
							"pPostingGroupBatchId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentPostingGroupBatchId",
									"type": "Expression"
								}
							},
							"pPostingGroupBatchSeq": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentPostingGroupBatchSeq",
									"type": "Expression"
								}
							},
							"pPostingGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentPostingGroupId",
									"type": "Expression"
								}
							},
							"pVerbose": {
								"type": "Boolean",
								"value": "False"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFOnPremStagingDatabaseDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stage Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Posting Group Detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "IssueID",
								"value": {
									"value": "@activity('Get Posting Group Detail').output.firstrow.IssueId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Raw Data Zone/Salesforce/Email Template*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "TRUNCATE TABLE BPI_DW_STAGE.salesforce.EmailTemplate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Id']"
								},
								"sink": {
									"name": "Id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['DeveloperName']"
								},
								"sink": {
									"name": "DeveloperName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['NamespacePrefix']"
								},
								"sink": {
									"name": "NamespacePrefix",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['OwnerId']"
								},
								"sink": {
									"name": "OwnerId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FolderId']"
								},
								"sink": {
									"name": "FolderId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['FolderName']"
								},
								"sink": {
									"name": "FolderName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['BrandTemplateId']"
								},
								"sink": {
									"name": "BrandTemplateId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TemplateStyle']"
								},
								"sink": {
									"name": "TemplateStyle",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['IsActive']"
								},
								"sink": {
									"name": "IsActive",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TemplateType']"
								},
								"sink": {
									"name": "TemplateType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Encoding']"
								},
								"sink": {
									"name": "Encoding",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Description']"
								},
								"sink": {
									"name": "Description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Subject']"
								},
								"sink": {
									"name": "Subject",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['HtmlValue']"
								},
								"sink": {
									"name": "HtmlValue",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Body']"
								},
								"sink": {
									"name": "Body",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['TimesUsed']"
								},
								"sink": {
									"name": "TimesUsed",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LastUsedDate']"
								},
								"sink": {
									"name": "LastUsedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CreatedDate']"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['CreatedById']"
								},
								"sink": {
									"name": "CreatedById",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LastModifiedDate']"
								},
								"sink": {
									"name": "LastModifiedDate",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['LastModifiedById']"
								},
								"sink": {
									"name": "LastModifiedById",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['SystemModstamp']"
								},
								"sink": {
									"name": "SystemModstamp",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['ApiVersion']"
								},
								"sink": {
									"name": "ApiVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Markup']"
								},
								"sink": {
									"name": "Markup",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['UiType']"
								},
								"sink": {
									"name": "UiType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['RelatedEntityType']"
								},
								"sink": {
									"name": "RelatedEntityType",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['IssueID']"
								},
								"sink": {
									"name": "IssueID",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ADFSalesforceDataLakeRetrievalDataset_JSON",
						"type": "DatasetReference",
						"parameters": {
							"sinktablename": "Email Template",
							"issuename": {
								"value": "@concat(activity('Get Posting Group Detail').output.firstrow.IssueName,'.json')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADFOnPremStagingEmailTemplateDataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Data",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stage Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[salesforce].[usp_LoadEmailTemplate]",
					"storedProcedureParameters": {
						"pETLExecutionId": {
							"value": {
								"value": "@pipeline().parameters.ETLExecutionID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pPathId": {
							"value": "-1",
							"type": "Int32"
						},
						"pPostingGroupProcessingId": {
							"value": {
								"value": "@activity('Get Posting Group Detail').output.firstrow.ParentPostingGroupProcessingId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pVerbose": {
							"value": "False",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADFOnPremStagingDatabaseConnector",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ParentPostingGroupBatchId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ParentPostingGroupBatchSeq": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ParentPostingGroupId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"ETLExecutionID": {
				"type": "string",
				"defaultValue": "-1"
			}
		},
		"variables": {
			"PostingGroupChildCode": {
				"type": "String",
				"defaultValue": "SF-EDL-SF-EMAILTEMPLATE"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-18T12:10:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}